.app__header {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.app__header-content {
	display: flex;
	flex-direction: column;
}

.app__header-content h1 {
	font-family: var(--font-roboto);
	font-weight: 800;
	font-size: 52px;
	line-height: 48px;
	letter-spacing: -0.03rem;
}

.app__header-content p {
	font-family: var(--font-manrope);
	font-size: 28px;
	margin-top: 2rem;
	color: var(--color-text);
}

.app__header-form {
	width: 100%;
	margin: 3rem auto;
	display: flex;
}

.app__header-form input {
	flex: 3;
	width: 100%;
	padding: 0 1rem;

	font-family: var(--font-manrope);
	font-size: 20px;
	background-color: var(--color-footer);
	border: 2px solid var(--color-footer);
	color: var(--color-text);
	border-radius: 5px 0 0 5px;
	outline: none;
}

.app__header-form button {
	flex: 1;
	min-height: 50px;
	padding: 0 1rem;

	font-family: var(--font-manrope);
	background-color: var(--color-button-primary);
	color: var(--color-text);
	cursor: pointer;

	font-size: 20px;
	border-radius: 0 5px 5px 0;
	outline: none;
	transition: 0.1s ease-in-out;
}

.app__header-form button:hover {
	background-color: var(--color-button-primary-hover);
}

.app__header-people {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;

	margin-top: 2rem;
}

.app__header-people img {
	width: 100%;
	max-width: 181px;
	height: auto;
}

.app__header-people p {
	margin: 0;
}

.app__header-figure {
	display: flex;
	justify-content: center;
}

.app__header-figure img {
	width: 440px;
	height: auto;
}

@media screen and (max-width: 980px) {
	.app__header {
		display: flex;
		flex-direction: column;
	}

	.app__header-form input {
		flex: 4;
		width: 100%;
	}

	.app__header-figure img {
		width: 100%;
	}

	.app__header-content h1 {
		width: 100%;
		font-size: 200%;
		line-height: 38px;
	}

	.app__header-content p {
		width: 100%;
		text-align: justify;
	}

	.app__header-people {
		display: block;
		text-align: center;
		margin: 1rem 0;
	}

	.app__header-people p {
		font-size: 120%;
		text-align: center;
	}


}
