.app__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 2rem 6rem;
}

.app__navbar-container {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.app__navbar-links-container {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app__navbar-logo {
	margin-right: 2rem;
	vertical-align: top;
}

.app__navbar-logo img {
	width: 62px;
	height: 16px;
}

.app__navbar-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.app__navbar-links {
	display: flex;
	flex-direction: row;
}

.app__navbar_sign {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.app__navbar-links p,
.app__navbar-sign p {
	color: var(--color-text);
	font-family: var(--font-manrope);
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;

	margin: 0 1rem;
	cursor: pointer;
	transition: 0.1s ease-in-out;
}

.app__navbar-links p:hover,
.app__navbar-sign p:hover {
	border-bottom: 2px solid var(--color-text);
}

.app__navbar-sign {
	display: flex;
	align-items: center;
}

.app__navbar-sign button {
	width: 122px;
	height: 36px;

	background-color: var(--color-button-primary);
	color: var(--color-text);
	font-family: var(--font-manrope);
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;

	border-radius: 5px;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: 0.1s ease-in-out;
}

.app__navbar-sign button:hover {
	background-color: var(--color-button-primary-hover);
}

.app__navbar-mobile {
	display: none;
	position: relative;
}

@media screen and (max-width: 1100px) {
	.app__navbar {
		padding: 1rem;
	}

	.app__navbar-links-container {
		display: none;
	}

	.app__navbar-mobile {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.app__navbar-mobile svg {
		cursor: pointer;
	}

	.app__navbar-mobile-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;

		text-align: end;
		background-color: var(--color-footer);
		padding: 2rem;
		position: absolute;
		top: 40px;
		right: 0;
		margin-top: 1rem;
		min-width: 210px;
		border-radius: 5px;
	}

	.app__navbar-links,
	.app__navbar-sign {
		display: flex;
		flex-direction: column;
		gap: 6px;
		margin: 12px 0;
	}
}

