* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background: var(--color-background);
}

#App {
	max-width: 1780px;
	margin: 0 auto;
}

a {
	color: unset;
	text-decoration: none;
}

.gradient__background {
	background-image: var(--gradient-bar);
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section__padding {
	padding: 2rem 6rem;
}

.section__margin {
	padding: 2rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

	transition: .1s ease-in-out;
}

 @-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }

/* A media query. It is used to apply different styles for different media types/devices. */
@media screen and (max-width: 700px) {
	.section__padding {
		padding: 3rem;
	}

	.section__margin {
		padding: 3rem;
	}
}

@media screen and (max-width: 550px) {
	.section__padding {
		padding: 2rem;
	}

	.section__margin {
		padding: 2rem;
	}
}
