@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

:root {
	--font-roboto: 'Roboto', sans-serif;
	--font-manrope: 'Manrope', sans-serif;

	--gradient-bar: linear-gradient(rgba(25, 0, 128, 1) 0%, rgba(0, 0, 0, 1)100%);
	--gradient-text: linear-gradient(90deg, rgba(196, 191, 255, 1) 0%, rgba(255, 255, 255, 1) 73%);

	--color-background: rgba(0, 0, 0, 1);
	--color-footer: rgb(3, 27, 52);
	--color-blog: rgb(4, 44, 84);
	--color-text: rgb(255, 255, 255);
	--color-subtext: rgb(255, 138, 113);
	--color-button-primary: rgb(255, 72, 32);
	--color-button-primary-hover: rgb(255, 32, 32);
}
